:root {
  --cor-primaria: #9F2B68;
  --cor-secundaria: #4A158B;  
  --cor-branca: #fff;
  --cor-fundo: #2e2620;
}

:root {
  --fonte-primaria: 'Poppins', sans serif;
  --fonte-secundaria: 'Raleway', sans serif;
  --fonte-normal: 1.6rem;
  --fonte-grande: 2.4rem;
  --fonte-extra-grande: 3rem;
  --fonte-gigante: 4.5rem;
}

:root {
  --mobile-padding: 30px;
}